.buscador {
  font-size: 25px;
  letter-spacing: 1.5px;
}
.buscadorPage {
  background-image: linear-gradient(
    0deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 142, 10, 0.133647) 84.37%,
    rgba(255, 142, 10, 0.225) 100%
  );
  height: 200px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.busquedaBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 3em;
  gap: 12px;
  border-radius: 0px 16px;
  font-size: 16px;
  position: absolute;
  width: 320px;
  height: 48px;
  left: 22px;
  top: 110px;
  border: 2px solid #bfc0c1;
  position: relative;
}
.iconoLupa {
  position: absolute;
  top: 7.5em;
  left: 2.1em;
}
.iconoBorrar {
  position: absolute;
  top: 7.7em;
  right: 2.5em;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.top20 {
  width: 64px;
height: 24px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: #26262E;
}
hr {
width: 240px;
height: 0px;
border: 1px solid #E4E6E8;
flex: none;
order: 1;
flex-grow: 1;
}
.corte {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;
position: absolute;
width: 320px;
height: 24px;
left: 24px;
top: 175px;
}
