.cupidoMusicalTop {
  position: absolute;
  width: 320px;
  height: 40px;
  left: 24px;
  top: 24px;
}
.cupidoMusicalSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 272px;
  height: 40px;
  left: 24px;
  top: 0px;
}
.cupidoMusicalTexto {
  width: 272px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #26262e;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.cupidoMusicalFlecha {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 8px;
}
.cardCupido_ImagenDerecha {
  position: absolute;
  visibility: hidden;
  left: 79.62%;
  right: -3.48%;
  top: 30.64%;
  bottom: 18.89%;
  opacity: 0;
  border-radius: 0px 48px;
  transform: rotate(31.35deg);
}

.cardCupido_ImagenIzquierda {
  position: absolute;
  visibility: hidden;
  left: 0%;
  right: 76.13%;
  top: 56.9%;
  bottom: -7.37%;
  opacity: 0;
  border-radius: 0px 48px;
  transform: rotate(-31.35deg);
}
.cardCupido_ImagenFrente {
  position: absolute;
  left: 38.07%;
  right: 38.06%;
  top: 17.81%;
  bottom: 31.71%;
  background: url("/public/imagenes/brand_eyewear.jpg");
  background-size: cover;
  filter: drop-shadow(0px 0px 8px rgba(8, 8, 17, 0.08))
    drop-shadow(8px 8px 16px rgba(8, 8, 17, 0.08));
  border-radius: 0px 48px;
}
.cardCupido_Imagen2 {
  position: absolute;
  left: 53%;
  right: 29.1%;
  top: 5.94%;
  bottom: 56.21%;
  background: url("/public/imagenes/brand_eyewear.jpg");
  background-size: cover;
  opacity: 0.5;
  filter: drop-shadow(0px 0px 6px rgba(8, 8, 17, 0.08))
    drop-shadow(6px 6px 12px rgba(8, 8, 17, 0.08));
  border-radius: 0px 36px;
  transform: rotate(10.45deg);
}
.cardCupido_Imagen3 {
  position: absolute;
  left: 66.11%;
  right: 20.46%;
  top: 0%;
  bottom: 71.61%;
  background: url("/public/imagenes/brand_eyewear.jpg");
  opacity: 0;
  filter: drop-shadow(0px 0px 4.50001px rgba(8, 8, 17, 0.08))
    drop-shadow(4.50001px 4.50001px 9.00003px rgba(8, 8, 17, 0.08));
  border-radius: 0px 27.0001px;
  transform: matrix(0.93, 0.36, -0.36, 0.93, 0, 0);
}
.cardCupido_DivCorazon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  left: 43.16%;
  right: 51.22%;
  top: 62.35%;
  bottom: 25.77%;
  background: #fdfeff;
  box-shadow: 0px 0px 5.33333px rgba(8, 8, 17, 0.04),
    1.77778px 1.77778px 3.55556px rgba(8, 8, 17, 0.08);
  border-radius: 32px;
}
.cardCupido_Corazon {
  position: absolute;
  width: 26.67px;
  height: 24px;
  left: calc(50% - 26.67px / 2 - 0px);
  top: calc(50% - 24px / 2 - 0px);
}
.cardCupido_DivCruz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  left: 51.23%;
  right: 43.15%;
  top: 62.35%;
  bottom: 25.77%;
  background: #fdfeff;
  box-shadow: 0px 0px 5.33333px rgba(8, 8, 17, 0.04),
    1.77778px 1.77778px 3.55556px rgba(8, 8, 17, 0.08);
  border-radius: 32px;
}
.cardCupido_Cruz {
  position: absolute;
  width: 21.33px;
  height: 21.33px;
  left: calc(50% - 21.33px / 2 - 0px);
  top: calc(50% - 21.33px / 2 - 0px);
}
.cardCupido {
  position: absolute;
  width: 1139.7px;
  height: 538.9px;
  left: -386px;
  top: 44px;
}
.cardCupido_NombreSi {
  position: absolute;
  visibility: hidden;
  left: 3.68%;
  right: 68.25%;
  top: 78.68%;
  bottom: 16.13%;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #26262e;
  opacity: 0;
}
.cardCupido_Nombre {
  position: absolute;
  left: 35.97%;
  right: 35.96%;
  top: 78.68%;
  bottom: 16.13%;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #26262e;
}
.cardCupido_NombreNo {
  position: absolute;
  left: 68.25%;
  right: 3.67%;
  top: 78.68%;
  bottom: 16.13%;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #26262e;
  opacity: 0;
}
.pMatches {
  position: absolute;
  left: 6.52%;
  right: 6.52%;
  top: 66.67%;
  bottom: 30.3%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #26262e;
}
.sectionMatches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 280px;
  top: 508px;
  background: #fdfeff;
  box-shadow: 0px 0px 6px rgba(8, 8, 17, 0.04), 2px 2px 4px rgba(8, 8, 17, 0.08);
  border-radius: 32px;
}
.imgMatches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.33333px;
  gap: 10.67px;
  width: 32px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.imgArtista {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 152px;
  top: 584px;
  background-size: cover;
  filter: drop-shadow(0px 0px 6px rgba(8, 8, 17, 0.04))
    drop-shadow(2px 2px 4px rgba(8, 8, 17, 0.08));
  border-radius: 32px;
}
.cardCupido_boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  position: absolute;
  width: 320px;
  height: 48px;
  left: 24px;
  top: 680px;
  background: #e4e6e8;
  border-radius: 0px 16px;
}
.cardCupido_botonTexto {
  width: 110px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fdfeff;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}
