.buscadorB {
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  .buscadorPageB {
    background-image: linear-gradient(
      0deg,
      rgba(253, 254, 255, 0) 25%,
      rgba(255, 142, 10, 0.133647) 84.37%,
      rgba(255, 142, 10, 0.225) 100%
    );
    height: 200px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .busquedaBarB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 3em;
    gap: 12px;
    border-radius: 0px 16px;
    font-size: 16px;
    position: absolute;
    width: 320px;
    height: 48px;

    top: 25px;
    border: 2px solid #bfc0c1;
    position: relative; 
  }
  .iconoLupaB {
    position: absolute;
    top: 36px;
    left: 2.2em;
  }
  .iconoBorrarB {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 40px;
    right: 2.5em;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  .top20B {
    width: 64px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #26262E;
  }
  hr {
  width: 240px;
  height: 0px;
  border: 1px solid #E4E6E8;
  flex: none;
  order: 1;
  flex-grow: 1;
  }
  .corteB {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 320px;
  height: 24px;
  left: 24px;
  top: 120px;
  }
  .contenedorCardB{
    padding: 2rem;
    width: 100vw;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    height: 550px;
    overflow-y: auto;
  }
  .enLineaB{
    display: flex;
    justify-content: center;
    align-items: center;
  }