.top {
  width: 320px;
  height: 40px;
  top: 24px;
  text-align: center;
}

.top_Flecha {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: transparent;
  border: transparent;
}
.top_Flecha_ImgFlecha {
  position: absolute;
  width: 14px;
  height: 16px;
  left: calc(50% - 14px / 2 + 15px);
  top: calc(50% - 16px / 2 + 1px);
}

.mainMusicaContexto div {
  margin-top: 14px;
}

.crearPlaylist_boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;

  position: absolute;
  width: 320px;
  height: 48px;
  left: 24px;
  top: 704px;
  background: #e4e6e8;
  border-radius: 0px 16px;
}
